@font-face{
    font-family: 'HealthewebA';
    src: url(font/Heal-The-Web-A.otf);
}

@font-face{
    font-family: 'SF-Pro-Text-Medium';
    src: url(font/SF-Pro-Text-Medium.otf);
}

@font-face{
    font-family: 'SF-Pro-Text-Regular';
    src: url(font/SF-Pro-Text-Regular.otf);
}

@font-face{
    font-family: 'SF-Pro-Text-Light';
    src: url(font/SF-Pro-Text-Light.otf);
}

*{
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll; /* Forcer l'espace de la barre pour éviter le décalage */
    scrollbar-width: none; /* Pour Firefox */
}

body::-webkit-scrollbar {
    display: none; /* Pour Chrome, Safari et Edge */
}

body{
    background-color: black;
    font-family: 'SF-Pro-Text-Medium', sans-serif;
    -ms-overflow-style: none; /* Pour Internet Explorer et Edge */
}

fieldset{
    border: white solid 1px;
    background-color: white;
}

header{
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 2;
}
nav{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 40px 20px;
}

.nav-links{
    display: flex;
    gap: 25px;
}
.boutonNav{
    text-decoration: none;
    font-size: x-large;
    color: white;
    transition: color 0.3s ease;
}

#boutonContactACC{
    color: grey;
    transition: color 0.5s;  ;
}


#boutonProfilACC{
    color: grey;
    transition: color 0.5s;  ;
}

#boutonCompetenceACC{
    color: grey;
    transition: color 0.5s;  ;
}

#logoGitHub{
    height: 40px;
    width: auto;
    transition: opacity 0.5s;
    margin-left: auto;
}
#logoGitHub:hover{
    opacity: 0.5;
}
/*toutes les image a modifier apres*/
img{
    width: 250px;
    height: 250px;
}
#bataille{
    color: black; /* Assurez-vous que le texte est visible quand il apparaît */
    transition: color 0.5s;
    font-size: large;
    margin-left: 65Px;
    position: relative;
    top: 30px;
}
#jo{
    color: black;
    transition: color 0.5s; /* Transition fluide de 0.5 seconde */
    position: relative;
    top: 30px;
}
#suzanne{
    color: black;
    transition: color 0.5s ease; /* Transition fluide de 0.5 seconde */
    font-size: large;
    margin-left: 65Px;
    position: relative;
    top: 30px;
}
.projet{
    background-color: lightgray;
    width: 250px;
    height: 250px;
    border: 1px solid;
}
#projet1{
    transition: transform .5s;
}
#projet1:hover{
    transform: scale(1.1) ;
}

#projet2{
    transition: transform .5s;
}
#projet2:hover{
    transform: scale(1.1) ;
}
#projet3{
    transition: transform .5s;
}
#projet3:hover{
    transform: scale(1.1) ;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    margin-top: 100px;
}

section{
    margin-top: 200px;
}


#aboutText{
    margin: 20px 70px 20px 80px;
    font-size: large;
    line-height: 1.5;
    color: white;
    font-family: 'SF-Pro-Text-Light', serif;
    transition: color 0.5s;
}

#aboutTitle{
    text-align: center;
    transition: color 0.5s;
    color: white;
}

#skills{
    color: white;
}
#skillsTitle1{
    text-align: center;
}

#skillsTitle2{
    text-align: center;
    position: relative;
    top: 50px;
}
#IDETitle{
    text-align: center;
    position: relative;
    top: 30px;
}
.skills{
    margin-top: 25px;
}
.titreRubrique{
    text-align: center;
}
.container-box {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-row-gap: 40px;
    align-items: center;
    justify-items: center;
    margin-top: 50px;
}
.box {
    border-radius: 15px;
    width: 130px;
    height: 130px;
    position: relative;
    background-color: white;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    display: flex;
    transition: transform .3s;
}
.image-box{
    border-radius: 15px;
    height: 110px;
    width: 110px;
    object-fit: cover;
    justify-content: center;
    transition: transform .5s;
}
.image-box:hover{
    transform: scale(1.1);
}
.box:hover{
    transform: scale(1.1);
}
footer {
    margin-top: 100px;
    text-align: center;
    font-size: small;
    padding-bottom: 15px;
}

footer span{
    transition: color 0.5s;
    color: grey;
}

footer span:hover{
    transition: color 0.5s;
    color: white;
}

/*animation des sections*/
.hidden {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

/*animation des sections*/
.visible {
    opacity: 1;
    transform: translateY(0);
}

h3{
    top: 50px;
}

#os{
    color: white;
    margin-top: 90px;
}
#frameworks{
    color: white;
}
#IDE{
    color: white;
    margin-top: 90px;
}

#marvin {
    transition: opacity 0.3s ease;
}