@font-face {
    font-family: 'JetBrains-Mono-Regular';
    src: url('font/jetBrainsMono/webfonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: 200 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains-Mono-Light';
    src: url('font/jetBrainsMono/webfonts/JetBrainsMono-Light.woff2') format('woff2');
    font-weight: 200 500;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'JetBrains-Mono-Medium';
    src: url('font/jetBrainsMono/webfonts/JetBrainsMono-Medium.woff2') format('woff2');
    font-weight: 200 500;
    font-display: swap;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

body{
    background-color: black;
    font-family: 'JetBrains-Mono-Medium', sans-serif;
    -ms-overflow-style: none;
}

fieldset{
    border: white solid 1px;
    background-color: white;
}

header{
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 2;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 40px 20px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.boutonNav {
    text-decoration: none;
    font-size: x-large;
    color: white;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
}


#boutonContactACC{
    color: grey;
    transition: color 0.5s;  ;
}


#boutonProfilACC{
    color: grey;
    transition: color 0.5s;  ;
}

#boutonCompetenceACC{
    color: grey;
    transition: color 0.5s;  ;
}

#boutonParcoursACC{
    color: grey;
    transition: color 0.5s;  ;
}

#logoLinkedin{
    height: 35px;
    width: auto;
    transition: opacity 0.5s;
}
#logoLinkedin:hover{
    opacity: 0.5;
}
#logoCV{
    background-color: white;
    border-radius: 3px;
    height: 35px;
    width: auto;
    transition: opacity 0.5s;
}
#logoCV:hover{
    opacity: 0.5;
}
#logoGitHub{
    height: 40px;
    width: auto;
    transition: opacity 0.5s;
    margin-left: auto;
}
#logoGitHub:hover{
    opacity: 0.5;
}

.projet span {
    color: black;
    transition: color 0.5s ease;
    position: relative;
    top: 30px;
    font-size: medium;
}

#bataille, #LoT, #portfolio {
    margin-left: 60px;
}

#Screen {
    margin-left: 35px;
}

#jo, #VMbox {
    margin-left: 0;
}

#bataille{
    font-size: large;
}

.projet{
    background-color: lightgray;
    width: 250px;
    height: 250px;
    border: 1px solid;
}

.projet img {
    transition: transform .5s;
    width: 250px;
    height: 250px;
}

.projet img:hover {
    transform: scale(1.1);
}

.container{
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    margin-top: 100px;
}

section{
    margin-top: 200px;
}


#aboutText{
    margin: 20px 70px 20px 80px;
    font-size: medium;
    line-height: 1.5;
    color: white;
    font-family: 'JetBrains-Mono-Medium', serif;
    transition: color 0.5s;
}

#aboutTitle{
    text-align: center;
    transition: color 0.5s;
    color: white;
}
#parcours-academique, #parcours-pro{
    color: white;
}
#skills{
    color: white;
}
#skillsTitle1{
    text-align: center;
}

#skillsTitle2{
    text-align: center;
    position: relative;
    top: 50px;
}
#IDETitle{
    text-align: center;
    position: relative;
    top: 30px;
}
.skills{
    margin-top: 25px;
}
.titreRubrique{
    text-align: center;
}
.container-box {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-row-gap: 40px;
    align-items: center;
    justify-items: center;
    margin-top: 50px;
}
.box {
    border-radius: 15px;
    width: 130px;
    height: 130px;
    position: relative;
    background-color: white;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    display: flex;
    transition: transform .3s;
}
.image-box{
    border-radius: 15px;
    height: 110px;
    width: 110px;
    object-fit: cover;
    justify-content: center;
    transition: transform .5s;
}
.image-box:hover{
    transform: scale(1.1);
}
.box:hover{
    transform: scale(1.1);
}
footer {
    margin-top: 100px;
    text-align: center;
    font-size: small;
    padding-bottom: 15px;
}

footer span{
    transition: color 0.5s;
    color: grey;
}

footer span:hover{
    transition: color 0.5s;
    color: white;
}


.hidden {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}


.visible {
    opacity: 1;
    transform: translateY(0);
}

h3{
    top: 50px;
}

#os{
    color: white;
    margin-top: 90px;
}
#frameworks{
    color: white;
}
#IDE{
    color: white;
    margin-top: 90px;
}

#marvin {
    transition: opacity 0.3s ease;
}

.projet-box {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-row-gap: 110px;
    grid-column-gap: 100px;
    align-items: center;
    justify-items: center;
}

.projet:nth-child(7) {
    grid-column: 2; /* Place le 7ème élément dans la colonne du milieu */
}

#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 3;
}
#modal.active {
    opacity: 1;
}
#modal-title {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 24px;
}
#modal-content {
    position: relative;
    background: white;
    padding: 40px;
    z-index: 4;
    border-radius: 10px;
    text-align: center;
    width: 60%;
    max-width: 500px;
    transform: translateY(-50px);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
#modal.active #modal-content {
    transform: translateY(0);
    opacity: 1;
}
#modal-description {
    margin-top: 20px;
    font-size: 14px;
}
#modal-tech {
    font-size: 14px;
}
#modal-link {
    text-decoration: none;
    color: black;
    background: #f0f0f0;
    padding: 12px 25px;
    border-radius: 15px;
    margin-top: 20px;
    display: inline-block;
    box-shadow:  8px 8px 15px #d9d9d9,
    -8px -8px 15px #ffffff;
    transition: all 0.3s ease;
    font-style: normal;
    font-weight: 500;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

#modal-link:hover {
    box-shadow:  4px 4px 8px #d9d9d9,
    -4px -4px 8px #ffffff;
    transform: translateY(2px);
    text-shadow: none;
}

#modal-link:active {
    box-shadow: inset 4px 4px 8px #d9d9d9,
    inset -4px -4px 8px #ffffff;
    transform: translateY(2px);
}

#close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 45px;
    cursor: pointer;
    background: #f0f0f0;
    border: none;
    color: #333;
    padding: 5px 5px 6px;
    margin: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:  5px 5px 10px #d9d9d9,
    -5px -5px 10px #ffffff;
    transition: all 0.3s ease;
    line-height: 1;
}

#close-btn:hover {
    color: #ff0000;
    box-shadow:  2px 2px 5px #d9d9d9,
    -2px -2px 5px #ffffff;
    transform: translateY(2px);
}

#close-btn:active {
    box-shadow: inset 3px 3px 6px #d9d9d9,
    inset -3px -3px 6px #ffffff;
    color: #cc0000;
}

#frameworks .container-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: center;
}

#frameworks .box.angular-box {
    grid-column: span 2;
    justify-self: center;
}

.parcoursAcademiqueBox{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-row-gap: 40px;
    align-items: center;
    justify-items: center;
    margin-top: 120px;
}
.parcoursProfessionnelBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}
.parcoursFormation{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.parcoursFormation:hover{
    .parcoursTitle{
        color: white;
    }
    .titleEtablisement{
        color: white;
    }
    .parcoursText{
        color: grey;
    }
    .fa-circle{
        color: grey;
    }
}
.parcoursTitle{
    font-size: 1.3em;
    font-weight: 300;
    color: #636363;
    margin-bottom: 15px;
    transition: color 0.5s ease;
}
.fa-circle{
    transition: color 0.5s ease;
}
.parcoursText{
    font-size: 1.3em;
    font-weight: 300;
    margin-bottom: 15px;
    transition: color 0.5s ease;
}

.titleEtablisement{
    color: gray;
    font-weight: 400;
    font-size: 1.2em;
    transition: color 0.5s ease;
}